.new-password-container { height: 100%; display: flex; flex-direction: row; justify-content: center; align-items: center; }
.new-password-container h1 {color:#ccc; font-size:20px}
.new-password-btn { color: black; background-color: #b1f900; }
.new-password-input { 
    background-color: black !important ; 
    width: 100%; 
    height: 35px; 
    border-top: 0; 
    border-right: 0; 
    border-left: 0;
    color: #ccc;
}